*{margin: 0;
    padding: 0;
    }
    .header3{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/banner2.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .row{
        margin-top: 5%;
        display:flex;
        justify-content: space-between;
    }
    .col-row{
        flex-basis: 29%;
        background: transparent;
        border-radius: 10px;
        margin-bottom: 5%;
        padding:0px 5px;
        box-sizing: border-box;
    }
    .col-row2{
        flex-basis: 40%;
        border-radius: 10px;
        margin-bottom: 5%;
        padding:10px 12px;
        box-sizing: border-box;
    }
    
    nav{
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
    }
    
    nav img{ 
        width: 100px;
        height: 100px;
    }
    
    .nav-links{
        flex: 1;
        text-align: right;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }
    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background-color: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width:100%;
    }
    .text-box{
        width:90%;
        color: #fff;
        padding-left: 5%;
        text-align: center;
    }
    .text-box h1{
        font-size: 62px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 14px;
        color: #fff;
    }
    .hero-btn{
        display: inline-block;
        text-decoration:none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position:relative;
        cursor:pointer;
    }
    .hero-btn:hover{
        border: 1px solid #f44336;
        background: #f44336;
        transition: 0.5s;
    }
    nav .fa{
        display:none;
    }
    
    
    /*-------------------------------------------------------small screen-------------------------------------------*/
    
    @media(max-width:700px){
        
        .text-box h1{
            font-size: 20px;
        }
        .text-box2 h1{
            font-size: 20px;
        }
        .nav-links ul li{
            display: block;
        }
        .nav-links{
            position: absolute;
            border-color: black;
            border-width: 1px;
            background:#33353d;
            height: 35vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
            transition: 0.5s;
        }
        nav .fa{
            display: block;
            color:#fff;
            margin:10px;
            font-size: 22px;
            cursor: pointer;
        }
        .nav-links ul{
            padding: 30px;
        }
        .row{
            flex-direction: column;
        }
        @media(max-height:300px){

          .header3{ min-height: 100vh;}
        }
    } 
    /*--------------------------------------------------------footer-------------------------------------------------*/
    .footer
{
  background-color:#33353d;
  font-size:16px;
  
  color:#737373;
}
.footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.footer hr.small
{
  margin:20px 0
}

.footer a
{
  color:#737373;
}
.footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}



.footer .social-icons
{
  text-align:right;
  padding-right:5%;
  padding-top:1%;
}
.footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0;
  padding-left:2%;
  padding-bottom: 1%;
}
@media (max-width:991px)
{
  .footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .footer
  {
    padding-bottom:0
  }
  .footer .copyright-text,.footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


